body{
	overflow: hidden;
}
/*商品列表页购物车图标在右侧*/
header .iconfont{
	float: right;
	width: 1.04rem;
	height: 0.55rem;
	background: linear-gradient(#d0100f,#940807,top);
	border-radius: 0.12rem;
	border: 1px solid #9f1512;
	box-shadow: 1px 1px 1px 1px #7a0607;
	font-size: 0.4rem;
	line-height: 0.55rem;
	text-align: center;
	margin-top: 0.1rem;
}

/**nav**/
nav{
	height: 0.57rem;
	background: #9a9fa5;
	position: fixed;
	top: 0.88rem;
	width: 100%;
	z-index: 2;
}
nav div{
	height: 0.57rem;
	padding: 0 0.13rem;
}
nav div i{
	float: left;
	padding: 0 0.15rem;
	font-size: 0.3rem;
	line-height: 0.57rem;
	position: relative;
}
nav div i b{
	position: absolute;
	border-width: 0.08rem;
	border-style: solid;
	border-color: transparent transparent #9a9fa5 transparent; 
	bottom: 0;
	width: 0;
	left: 0;
	right: 0;
	margin: auto;
}
nav div i.active{
	color: #fff;
}
nav div i.active b{
	border-bottom-color: #fff;
}

/**列表图**/
section{
	overflow: hidden;
	
}
img{
	display: block;
}
section ul{
	padding:0.77rem 0.38rem;
	font-size: 0.23rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
section ul li{
	width: 2.44rem;
	list-style: none;
}
section ul li a{
	display: block;
	text-decoration: none;
	color: #333;
}
section ul li img{
	width: 2.32rem;
	height: 2.32rem;
}
section ul li .img-wrap{
	padding: 0.05rem;
	border: 1px solid #cbcbcd;
}
section ul li p{
	text-align: center;
	margin: 0.08rem 0;
}
section ul li .price{
	overflow: hidden;
	margin-bottom: 0.18rem;
}
section ul li .price span:nth-child(1){
	color: #d41012;
	font-size: 0.21rem;
	float: left;
}
section ul li .price span:nth-child(2){
	color: #878787;
	font-size: 0.18rem;
	float: right;
	text-decoration: line-through;
}




















